body {
    background-color: #0080ff;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding-top: 20px;
    background-color: #081A51;
    color: #ffffff;
}


#sidebar a.nav-link {
    color: #ffffff;
}

main {
    margin-left: 250px;
    padding: 15px;
}

/* Ajoutez des transitions pour une animation fluide */
#sidebar {
    transition: width 0.3s;
}

main {
    transition: margin-left 0.3s;
}

#menu-toggle{
    display: block;
    margin: 10px auto;
}


/* Styles pour le menu réduit */
#sidebar.toggled {
    width: 75px; /* Largeur réduite */
}

#sidebar.toggled #menu-toggle {
    display: block; /* Affiche le bouton de basculement */
    margin: 10px auto; /* Centre le bouton */
}

#sidebar.toggled .nav-item .nav-link {
    text-align: center; /* Centre le texte du lien */
    white-space: nowrap; /* Empêche le texte de s'enrouler */
    width: 40px; /* Largeur réduite du texte */
    overflow: hidden; /* Masque le débordement du texte */
}

.custom-icon {
    font-size: 1rem; /* Taille de l'icône personnalisée */
}

